body {
    background-image: url('../logo/underconstruction.svg'); 
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0;
    height: 100vh;
}

.floatBackBtn {
    position: fixed;
    top: 40px;
    left: 40px;
	background-color:white;
	color:black;
    padding: 15px;
    border-radius: 25px;
    box-sizing: border-box;
    display: inline-block;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mainAnn {
    padding: 20px;
    display: inline-block;
    background-color:#191919;
    box-shadow: 2px 2px 3px #000000;
    box-sizing: border-box;
    border-radius: 25px;
    border: 3px;
}

.innAnn {
    background-color: white;
    padding: 15px;
    border-radius: 25px;
    display: inline-block;
    box-sizing: border-box;
}

h1 {
    font-family: 'Arial';
}

a {
    color: black;
    text-decoration: none;
    font-family: 'Arial';
}