.move-container {
    margin-right: 50%;
}

.ann-none {
    pointer-events: none;
}

.ann {
    opacity:0;
    margin-right: 100%;
    animation: colorchangeout 2s;
}

.in {

    animation: colorchangein 2s;

}
