body {
    font-family: Arial;
    color: white;
    text-align: center;

    background-image: url("/image/uow-background.jpg");

    /* Height */
    height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

img {
    width: 100%;
    height: 100%;
}

footer {    
    height: 10px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 100%;
    bottom: 2.5%;
    left: 50%;
    transform: translateX(-50%);
}

.overlay {
    z-index: -1;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
}

.topLogos {
    z-index: 2;

    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 8%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;

    /* set it to the middle of screen */
    left: 50%;
    transform: translateX(-50%);

    /* border-radius: 25%; */
    border-radius: 50px;
    box-sizing: border-box;
    border-color: white;
    background-color: white;
}

.logos {
    width: 30%;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    width: max-content;
    padding: 2%;
}

.hiC2 {
    background-color: 	rgb(245, 245, 245, 1);
    height: 23vh;
    width: fit-content;
    border-radius: 50px;
    box-shadow: 3px 3px 4px #999;
    /* width: auto; */
}

.content {
    width: fit-content;
    border-color: white;
    border-width: 1px;
    border-radius: 50px;
}

.info {
    width: fit-content;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.inner {
    width:  fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding-left: 5%;
    padding-right: 5%;
    background-color: black;
    border-radius: 50px;
    margin-top: 3%;
}

.paddingIcon {
    width: 30%;
    padding: 5%;
}

/* .social-media {

} */