@import url(/style/animation.css);

body {
    overflow: hidden;

    font-family: Arial;
    color: white;
    text-align: center;

    background-image: url("/image/uow-background.webp");

    /* Height */
    height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

img {
    width: 100%;
    height: 100%;
}

a {
    color: white;
    text-decoration: none;
    font-family: 'Arial';
}

footer {    
    height: 10px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 100%;
    bottom: 2.5%;
    left: 50%;
    transform: translateX(-50%);
}

button {
    color: white;
}

.transform {
    -webkit-transition: all 2s ease-in-out;  
    -moz-transition: all 2s ease-in-out;  
    -o-transition: all 2s ease-in-out;  
    -ms-transition: all 2s ease-in-out;  
    transition: all 2s ease-in-out;
}

.overlay {
    z-index: -1;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
}

.topLogos {
    z-index: 2;

    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 8%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;

    /* set it to the middle of screen */
    left: 50%;
    transform: translateX(-50%);

    /* border-radius: 25%; */
    border-radius: 50px;
    box-sizing: border-box;
    border-color: rgb(12, 11, 11);
    background-color: white;
}

.logos {
    width: 30%;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    padding: 2%;
}

.icon {
    background-color: 	rgb(245, 245, 245, 1);

    border-radius: 50px;
    box-shadow: 3px 3px 4px #999;
}

.hiC2 {
    height: 23vh;
    width: 23vh;
    animation: fadeIn 1s;
}

.hiC2Icon {
    height: 5vh;
    width: 5vh;

    margin-right: 2%;
    flex-shrink: 0;
    padding: 1vh;
}

.showIcon {
    height: 3.5vh;
    width: 3.5vh;

    margin-right: 3%;
    flex-shrink: 0;

    padding: 1vh;
}

.sponsorLogo {
    background-color: white;
    height: 5vh;
    padding: 2%;
    border-radius: 20px;
}

div.imgLogo {
    margin: 1%;
}

img.imgLogo {
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
}

.content {
    display: table;
    margin: auto;
    border-color: white;
    border-width: 1px;
    border-radius: 50px;
}

.info {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.social-media {
    position: fixed;
    left: 0%;
    bottom: 20%;
    height: 20px;
}

.inner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(17, 17, 17);
    border-radius: 10px;
    margin-top: 3%;
}

.inner:hover {
    background-color: white;
    color: black;
}

.paddingIcon {
    height: 50px;
    width: 50px;
    margin-right: 10%;
}

.floatBackBtn {
    z-index: 3;

    position: fixed;
    top: 40px;
    left: 40px;
	background-color:black;
	color:white;
    padding: 15px;
    border-radius: 25px;
    box-sizing: border-box;
    display: inline-block;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.padding {
    padding-left: 5%;
    padding-right: 5%;
}

.fix-info {
    position: absolute;

    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;


    z-index: 4;

    width: 100%;
    height: 100vh;
}

.info-contain {
    background-color: rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
    border-radius: 50px;
    color: white;

    margin-top: 12.5vh;
    margin-bottom: 12.5vh;
    
    height: 75%;

    padding: 2vh;

    flex-wrap: wrap;
}

.event-button {
    background-color: white;
    color: black;
    margin-right: 2%;
    border-radius: 10px;

    padding-right: 2%;
    padding-left: 2%;
}

.event-button:hover {
    color: white;
    background-color: black;
}

@keyframes fadeIn{
    from{
        opacity: 0;
        height: 0%;
        width: 0%;
    }

    to{
        opacity: 1;
        height: 23vh;
        width: 23vh;
    }
}

.social-media {
    bottom: 15%;
}

@keyframes fadeIn{
    from{
        opacity: 0;
        height: 0%;
        width: 0%;
    }

    to{
        opacity: 1;
        height: 23vh;
        width: 23vh;
    }
}

::-webkit-scrollbar {
    width: 10px;
  }
  

  ::-webkit-scrollbar-thumb {
    background: rgb(0, 255, 106); 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0) 0%, rgb(8, 160, 53) 100%);
     
  }

div.scroll {
    word-wrap: break-word;
    width: inherit;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    margin-left: 3%;
    margin-right: 3%;
    padding-right: 1%;
    border-radius: 10px;
    
    text-align: left;
}

img.poster {
    position: relative;
    height: 60vh;
    width: auto;
}



@keyframes colorchangeout {
    0% {
        color: white;
    }

    100% {
        color: rgb(8, 160, 53);
    }
}

@keyframes colorchangein {
    50% {
        
        color:rgb(8, 160, 53);
    }

    100% {
        
        color:white;
    }
}

.tab {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    position: relative;
    padding: 2%;

    z-index: 4;
}

form {
    border-radius: 20px;
    text-align: left;
    position: relative;
    transition: all 0.2s ease-in-out;
    font-weight: 500;
    color: #fff;
    opacity: 0.7;
    font-size: 2vh;
    margin-top: 0;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2); 
}

input, textarea {
    width:calc(100%/2 - 2em);
    background: transparent;
    padding: 1em;
    border: none;
    border: 2px solid white;
    border-radius: 50px;
    color: #fff;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    margin-top:1%;
}

textarea{
    height: 15vh;
    width: calc(100% - 2em);
}

.required:after {
    content:"*";
    color: red;
}

.back{
    float:right;
    background:rgb(0, 255, 106);
    height:4vh;
    width:15vw;
    border-radius:12px;
    font-size: 1.5vh;
    color: white;
    cursor: pointer;
    border-style: none;

    z-index: 5;
}

.design-flex {
    display: flex;
    align-items: center;
    width: 100%;
}

.design-point {
    flex-flow: row wrap;
    justify-content: space-between;
}

.design-committees {
    flex-flow: row wrap;
    justify-content: start;
}

.design-tab {
    width: 44%;
    min-height: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
}

@media only screen and (max-width: 1600px) {
    div.inner {
        padding-right: 2%;
        padding-left: 2%;
    }
}


@media only screen and (max-width: 1000px) {
    .clearOnMobile {
        display: none;
    }

    .info-contain {
        height: 90%;
        padding: 1vh;

        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    footer {
        bottom: 5%;
    }
}

@media only screen and (max-width: 600px) {
    .padding {
        width: calc(100%/3);
    }

    .main {
        margin: 5%;
    }

    .hiC2 {
        height: 18vh;
        width: 18vh;
    }

    h1 {
        font-size: 2.5vh;
    }

    h2 {
        font-size: 2vh;
    }
    
    h4 {
        font-size: 12px;
    }

    .social-media {
        bottom: 15%;
    }

    img.poster {
        position: relative;
        height: auto;
        width: 60vw;
    }

    input {
        width: calc(100% - 2em);
    }

    .info-contain {
        padding: 5%;
    }

    p {
        font-size: 12px;
    }
}

/* mobile */
@media only screen and (max-width: 400px) {
    h1 {
        font-size: 15px;
    }

    h2 {
        font-size: 12px;
    }

    h3 {
        font-size: 10px;
    }

    h4 {
        font-size: 8px;
    }

    p {
        font-size: 8px;
    }

    .main {
        margin: 10%;
    }
}